<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="style.css" type="text/css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="common.js"></script>
</head>
<body background="bgnoise_lg.png" >
<div id="container" style="width: 700px; margin: 0 auto;">
    <nav id="navigation">
        <ul style="float:left;">
            <li><a href="/" title="最新上传（3小时内）">最新</a></li>
            <li><a href="#" title="精品资源">精华</a></li>
            <li><a href="/upload" title="上传资源">上传</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="http//:messi-q.github.io">主页</a></li>
            <li><a href="javascript:void(0);" id="searckBtn">搜索</a></li>
        </ul>
        <ul style="margin-left:50px;float:right;">
            <li><a href="/login">登陆</a></li>
            <li><a href="/regist">注册</a></li>
        </ul>
    </nav>