<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>我的图片
<div><img src="./showimg"/></div><br/>
收到参数：<br/>
email是:{email}<br/>
密码是：{pwd}
<form action="./login" method="post">
    <table align="center">
        <tr>
            <td>email:</td>
            <td><input type="text" name="email" /></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="password" name="pwd" /></td>
        </tr>
        <tr>
            <td align="center"><input type="submit" value="登录" /></td>
        </tr>
    </table>
</form>
</body>
</html>